footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  border-top: 3px rgba(151, 151, 255, 0.3) solid;
}

footer #contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: -5px;
}

footer #contacts img {
  height: 28px;
  filter: none;
  fill: #9797ff;
}

footer p {
  font-size: 15px;
  white-space: pre-line;
}